<%= render partial: 'flash_message', locals: {notice: flash} %>

<h1 class="mt-3">Inboxs</h1>

<% if @messages.count == 0 %>
	<h3>0 message</h3>
<% else %>
	<% @messages.each do |message| %>
		<%= render partial: "thumbnail", locals: {a: message}%>
	<% end %>
<% end %>