<div class="row col-md-12">
	<div class="col-md-5">
		<h3>Your Friend</h3>
	</div>

	<div class="col-md-7">
		<h3>People you may know</h3>

		<% User.all.each do |user| %>
		<div>
			<!-- <h6 class=""> -->
				<!-- <strong> -->
					<%=user.name%>
				<!-- </strong> -->
				<!-- </h6> -->
				<div class="float-right">
					<%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
				</div>
			</div>
			<br>

			<% end %>
		</div>
	</div>