<div class="article-thumbnail mb-3" highlight>
  <div class="card-body">
    <h4 class="card-title">
     <%= a.title %>

   </h4>
   <h6 class="card-subtitle mb-2 text-muted"><%= a.user.name %></h6>
   <p class="card-text">
     <%= truncate(a.content) %>	
   </p>
 </div>
</div>